body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
    color: #333;
    background: #fff;
    padding-top: 20px;
}

h1, h2, h3 {
    font-weight: 300;
}

@media (min-width:800px) {
    body {
        width: 50%;
        margin: 0 auto;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: rgb(42,40,54);
        color: #fff;
    }
}

button {
    background: rgb(82,80,94);
    color: #fff;
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin-right: 8px;
}

button:hover {
    background: rgb(102,100,114);
    color: #fff;
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin-right: 8px;
    cursor: pointer;
}